{{ if site.Params.comments.giscus }}
<script src="https://giscus.app/client.js"
        data-repo="{{site.Params.comments.giscus.dataRepo}}"
        data-repo-id="{{site.Params.comments.giscus.dataRepo}}"
        data-category="{site.Params.comments.giscus.dataCategory}}"
        data-category-id="{{site.Params.comments.giscus.dataCategoryId}}"
        data-mapping="{{site.Params.comments.giscus.dataMapping}}"
        data-reactions-enabled="{{site.Params.comments.giscus.dataReactionsEnabled}}"
        data-emit-metadata="{{site.Params.comments.giscus.dataEmitMetadata}}"
        data-input-position="{{site.Params.comments.giscus.dataInputPosition}}"
        data-theme="{{site.Params.comments.giscus.dataTheme}}"
        data-lang="{{site.Params.comments.giscus.dataLang}}"
        crossorigin="{{site.Params.comments.giscus.crossorigin}}"
        async>
</script>
<noscript>Please enable JavaScript to view the comments powered by giscus.</noscript>
{{ end }}